<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Talk Time Analytics</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="description" content="Talk Time Analytics" />
    <meta name="author" content="Deepgram" />
    <link href="/main.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:400,600,700,900|Source+Sans+Pro|Fira+Code|Material+Icons"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      body {
        font-family: "Source Sans Pro", sans-serif;
      }
    </style>
  </head>
  <body
    class="bg-darkcharcoal text-white flex flex-col items-center max-w-screen-lg mx-auto"
  >
    <img class="block mt-5 self-start" src="/dg-logo-coral.svg" />
    <h2 class="mt-10 text-casper font-bold">DEEPGRAM SPEECH RECOGNITION</h2>
    <h1 class="text-5xl font-semibold font-cairo">Talk Time Analytics</h1>

    <div class="flex flex-row space-x-8 mt-10">
      <a class="border-2 border-solid text-mint py-2 w-60 rounded-md font-bold text-center" id="edit-on-glitch-button" target="_blank" hidden>Edit on Glitch</a>
      <a class="text-darkcharcoal bg-mint py-2 w-60 rounded-md font-bold text-center" href="https://github.com/deepgram/talk-time-analytics" target="_blank">See in Github</a>
      <script>
        const editOnGlitchNode = document.querySelector("#edit-on-glitch-button");
        const [subdomain, ...domain] = location.host.split(".");
        if (domain.length === 2 && domain[0] === "glitch" && domain[1] === "me") {
          editOnGlitchNode.href = "https://glitch.com/edit/#!/" + subdomain;
          editOnGlitchNode.hidden = false;
        }
      </script>
    </div>
    <p class="text-cloud mt-10">
      Upload an audio file to calculate the talk time of each speaker.
    </p>  