<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Talk Time Analytics</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="description" content="Talk Time Analytics" />
    <meta name="author" content="Deepgram" />
    <link href="/main.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Cairo:400,600,700,900|Source+Sans+Pro|Fira+Code|Material+Icons"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      body {
        font-family: "Source Sans Pro", sans-serif;
      }
    </style>
  </head>
  <body
    class="bg-darkcharcoal text-white flex flex-col items-center max-w-screen-lg mx-auto"
  >
    <img class="block mt-5 self-start" src="/dg-logo-coral.svg" />
    <h2 class="mt-10 text-casper font-bold">DEEPGRAM SPEECH RECOGNITION</h2>
    <h1 class="text-5xl font-semibold font-cairo">Talk Time Analytics</h1>

    <p class="text-cloud mt-20">
      Upload an audio file to calculate the talk time of each speaker.
    </p>  